.page-post {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}
